*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(27, 26, 26);
    background-color: #eeedec;
    letter-spacing: 0.1em;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.weatherImg {
    display: flex;
    justify-content: center;   
    height: 300px;
}

.weatherImg> img {
    max-width: 100%;
}

header {
    margin-bottom: 17px;
    font-size: large;
}

form > label {
    font-size: 12px;
}

form > input {
    padding: 10px 50px;
    border: none;
    border-radius: 2px;
}
form {
    margin-bottom: 15px;
}

.temperature {
    padding: 20px;
    background-color: white;
}

.cityName > h4 {
    margin-bottom: 15px;
}

.cityName > p {
    margin-bottom: 20px;
    font-size: 10px;
}

.degrees {
    font-size: 35px;
}

.d-none {
    display: none;
}